requests>=2.31.0
aiohttp>=3.9.5
beautifulsoup4>=4.12.3
tqdm>=4.66.2
python-dotenv>=1.0.1
pandas>=2.2.2

googlemaps>=4.10.0
google-api-python-client>=2.128.0
google-generativeai>=0.7.2

smtplib3==1.0.2
email-validator>=2.2.0

pyyaml>=6.0.1

rich>=13.7.1

openai>=1.30.5

aiofiles>=24.1.0

black>=24.3.0
isort>=5.13.2
